.callout[data-callout="def"] {
    --callout-color: 153, 0, 0;
    --callout-icon: lucide-cross;
}

.callout[data-callout="dim"] {
    --callout-color: 255, 91, 0;
    --callout-icon: lucide-brush;

}

.callout[data-callout="bed"]{
    --callout-color: 255, 0, 255;
    --callout-icon: bed;
}

.callout[data-callout="oss"]{
    --callout-color: 10, 76, 10;
    --callout-icon: <svg width="100" height="100" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8.25 12a3.75 3.75 0 1 1 7.5 0 3.75 3.75 0 0 1-7.5 0ZM12 9.75a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" clip-rule="evenodd"></path>
    <path fill-rule="evenodd" d="M4.323 10.646c-.419.604-.573 1.077-.573 1.354 0 .277.154.75.573 1.354.406.583 1.008 1.216 1.77 1.801C7.62 16.327 9.713 17.25 12 17.25s4.38-.923 5.907-2.095c.762-.585 1.364-1.218 1.77-1.801.419-.604.573-1.077.573-1.354 0-.277-.154-.75-.573-1.354-.406-.583-1.008-1.216-1.77-1.801C16.38 7.673 14.287 6.75 12 6.75s-4.38.923-5.907 2.095c-.762.585-1.364 1.218-1.77 1.801Zm.856-2.991C6.91 6.327 9.316 5.25 12 5.25s5.09 1.077 6.82 2.405c.867.665 1.583 1.407 2.089 2.136.492.709.841 1.486.841 2.209 0 .723-.35 1.5-.841 2.209-.506.729-1.222 1.47-2.088 2.136-1.73 1.328-4.137 2.405-6.821 2.405s-5.09-1.077-6.82-2.405c-.867-.665-1.583-1.407-2.089-2.136C2.6 13.5 2.25 12.723 2.25 12c0-.723.35-1.5.841-2.209.506-.729 1.222-1.47 2.088-2.136Z" clip-rule="evenodd"></path>
</svg>
  
}

.callout[data-callout="esempio"]{
    --callout-color: 131, 56, 236;
    --callout-icon: <svg width="24px" height="24px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M13.138.053a12.018 12.018 0 0 0-9.646 3.481A12.014 12.014 0 0 0 .937 16.651a12.014 12.014 0 0 0 11.162 7.348 2.275 2.275 0 1 0-.037-4.549 7.438 7.438 0 0 1-6.932-4.562 7.438 7.438 0 0 1 1.587-8.145 7.437 7.437 0 0 1 12.378 3.014H12.05a2.275 2.275 0 1 0 0 4.55h9.674A2.275 2.275 0 0 0 24 12.04 12.014 12.014 0 0 0 16.597.914a11.962 11.962 0 0 0-3.459-.86z"/></svg>
}

.callout[data-callout="teorema"]
{
    --callout-color: 168, 0, 6;
    --callout-icon: <svg width="24px" height="24px" viewBox="5 5 15 15" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg"><path d="M18.707 8.535c-.391-.391-1.023-.391-1.414 0-1.264 1.264-3.321 1.264-4.586 0-2.045-2.044-5.371-2.042-7.414 0-.391.391-.391 1.023 0 1.414s1.023.391 1.414 0c.374-.374.82-.624 1.293-.776v7.827c0 .553.447 1 1 1s1-.447 1-1v-7.826c.472.152.919.401 1.293.775.768.767 1.715 1.245 2.707 1.437v5.614c0 .553.447 1 1 1s1-.447 1-1v-5.614c.992-.191 1.939-.67 2.707-1.437.391-.39.391-1.023 0-1.414z"/></svg>

}

.callout[data-callout="corollario"]
{

    --callout-color: 55, 186, 57;
    --callout-icon: <svg width="30px" height="30px" viewBox="20 20 40 40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full" enable-background="new 0 0 76.00 76.00" xml:space="preserve">
	<path fill-opacity="1" stroke-width="0.2" stroke-linejoin="round" d="M 34.3682,49.5519L 44.0371,37.8343L 34.9976,26.3944L 34.9976,26.2259L 51.303,26.2259L 51.303,18.9941L 23.8984,18.9941L 23.8984,24.7217L 34.7115,38.1675L 23.2691,52.0303L 23.2691,57.0059L 52.7309,57.0059L 52.7309,49.7741L 34.3682,49.7741L 34.3682,49.5519 Z "/>
</svg>

}