.cm-header-2
{
    text-decoration: underline;
    text-decoration-color: #ffb480;
}

.cm-header-1
{
    text-decoration: underline;
    text-decoration-color: #42d6a4;
}

.cm-header-3
{

    text-decoration: underline;
    text-decoration-color: #59adf6;

}

.cm-header-4
{
    text-decoration: underline;
    text-decoration-color: #9d94ff;
}

.cm-header-5
{

    text-decoration: underline;
    text-decoration-color: #c780e8;

}



h1
{
    text-decoration: underline;
    text-decoration-color: #ffb480;
}

h2
{
    text-decoration: underline;
    text-decoration-color: 	#42d6a4;
}

h3
{

    text-decoration: underline;
    text-decoration-color: #59adf6;

}

h4
{
    text-decoration: underline;
    text-decoration-color: #9d94ff;
}

h5
{

    text-decoration: underline;
    text-decoration-color: #c780e8	;

}

::marker
{
    color: #ff6961;
}

ol
{
    list-style-type: upper-roman;
}
